<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DXF File Upload</title>
</head>
<body>
    <h1>This is a representational model. It does not solve the problem completely. Rather it tells about how the approach will be to solve this problem. This is created by Adnan Rizvi for Cognisite problem Statement</h1>
    <h1> As of now, It can only take DXF files as input. Dont give DWG file.</h1>
    <br>
    <h1>Upload Your DXF File to find Area, Perimeter and The lines in each Layer of your CAD Drawing.</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".dxf">
        <button type="submit">Upload</button>
    </form>
</body>
</html>
